<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Mi nombre es Patrcicio y estoy creando aplicacioones de estudio en NodeJS y MongoDB. </p>
        <P>Estas aplicaciones las podras encontrar en mi repositorio de Github </p>
        <a href="https://github.com/Prgm-code" class="btn btn-primary" target="__blank">Mi perfil de Github</a>


    </div>
</section>