<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, at dignissimos laudantium dolor in quas dolores facere consequatur ut vel.</p>
    </div>
</section>