


<section class="card">
        <div class="jumbotroon mt-4">
        <h1 class="display-4"><strong>Aplicación de Notas, con NodeJs y Mongodb</strong> </h1><br/>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque cupiditate ex, nobis quae ipsam, facilis error illo nemo natus quidem neque, magnam est unde deserunt?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dicta itaque quaerat consectetur voluptate amet, debitis veritatis blanditiis tempore odio sapiente, necessitatibus omnis voluptates beatae, aperiam corporis exercitationem facere! Soluta doloribus deleniti impedit reprehenderit assumenda nemo placeat quis veritatis molestias, expedita ad animi, hic nam. Ab mollitia cupiditate incidunt sint?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. At amet nihil eum officiis exercitationem iure cum consectetur tempore deserunt dolore.</p>
        <a href="https://www.google.cl" class="btn btn-primary" target="__blank">Ir a google</a>

    </div>

</section>