


<section class="card">
        <div class="jumbotroon mt-4">
        <h1 class="display-4"><strong>Aplicación de Notas, con NodeJs y Mongodb</strong> </h1><br/>
        <p class="lead">Esta aplicacion fue contruida en Javascript utilizando, NodeJS, MongoDB y Handlebars</p>
        <hr class="my-4">
        <p>Esta aplicacion almacena notas las cuales son privadas por usuario.</p>
        <p>Para utilizar esta aplicacion debes registrarte en el boton de Registro y luego debes logearte con los datos indicados</p>

        <a href="https://www.google.cl" class="btn btn-primary" target="__blank">Ir a google</a>

    </div>

</section>